@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s, color 0.3s;
}

html.dark {
  background-color: #ffb1c2; /* Dark background */
  color: #F9FAFB; /* Light text */
}
